# Telegram API (v20.3 — важна, т.к. с 20.x всё поменяли)
python-telegram-bot==20.3

# Для скачивания видео и аудио из YouTube и TikTok
yt-dlp==2023.11.16

# Для загрузки переменных из .env (токен бота, например)
python-dotenv==1.0.0

# Для обработки и редактирования видео (если будешь, например, обрезать/склеивать)
moviepy==1.0.3
